.container-custom {
  background: black;
  .image-container {
    text-align: center;
    padding: 5rem;
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  img {
    width: 60vw;
  }
}
