.container {
  background: black;
  .text-container {
  }
  .text-area {
    display: flex;
    flex-direction: column;
  }
  .display-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(0, rgb(253, 224, 6) 42%, rgb(33, 97, 194) 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    line-height: 6rem;
  }
}
