.container {
  background: lightgray;
  .divider-container {
    mat-divider {
      width: 70vw;
      border-top-color: rgba(0, 0, 0, .4);
      border-top-width: 2px;
    }
    display: flex;
    justify-content: center;
  }
}
