<div class="container-custom">
  <div class="row">
    <span>Process</span>
  </div>

  <div class="row display-3">
    <span> Our Step By Step Process </span>
    <span> To Design The Perfect </span>
    <span> Websites and Apps </span>
  </div>

  <div class="cards-container">
    <div class="row" *ngFor="let process of processes">
      <app-process-cards [card]="process"></app-process-cards>
    </div>
  </div>

  <div class="divider-container">
    <mat-divider class="m-2"></mat-divider>
  </div>

  <app-faqs></app-faqs>
</div>
