a {
    text-transform: uppercase;
    font-size: x-large;
    animation-duration: 1s;
    text-decoration: none;
    padding: 1rem;
}

a:hover {
    font-size: xx-large;
    text-decoration: underline;
}

.mat-custom-row {
    justify-content: center;
    background-color: rgb(0, 255, 0, 0);
}
