<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>

<mat-sidenav-container [hasBackdrop]="" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/podcast"> PODCAST </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Start of Content -->
  <mat-sidenav-content>
    <app-header></app-header>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
    </mat-progress-bar>

    <mat-toolbar
      color="primary"
      [ngClass]="isNavBarFixed ? 'mat-elevation-z8 fixed-nav' : ''"
      class="no_scroll mat-custom-row"
      *ngIf="(isHandset$ | async) === false"
    >
      <a mat-button class="mr-custom pl-0" routerLink="/"> </a>

      <a mat-button routerLinkActive="focused" routerLink="/podcast">
        Podcast
      </a>

      <!-- [class.focused]="routes.programs.value" -->
    </mat-toolbar>

    <mat-toolbar *ngIf="(isHandset$ | async) === true">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      ></button>
    </mat-toolbar>

    <div
      class="pt-6"
      *ngIf="isNavBarFixed && (isHandset$ | async) === false"
    ></div>
    <app-profile></app-profile>
    <app-statistics></app-statistics>
    <app-process-cards></app-process-cards>
    <app-certifications-info></app-certifications-info>
    <app-faqs></app-faqs>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
