<mat-sidenav-container [hasBackdrop]="" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/podcast"> PODCAST </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Start of Content -->
  <mat-sidenav-content id="name">
    <mat-toolbar
      color="primary"
      [ngClass]="isNavBarFixed ? 'mat-elevation-z8 fixed-nav' : ''"
      class="no_scroll mat-custom-row"
      *ngIf="(isHandset$ | async) === false"
    >
      <a routerLinkActive="focused" routerLink="/" fragment="benefits">
        benefits
      </a>
      <a routerLinkActive="focused" routerLink="/" fragment="projects">
        projects
      </a>
      <a routerLinkActive="focused" routerLink="/" fragment="name">
        {{ name }}
      </a>
      <a routerLinkActive="focused" routerLink="/" fragment="process">
        process
      </a>
      <a routerLinkActive="focused" routerLink="/" fragment="faqs"> faqs </a>

      <!-- [class.focused]="routes.programs.value" -->
    </mat-toolbar>

    <mat-toolbar *ngIf="(isHandset$ | async) === true">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      ></button>
    </mat-toolbar>

    <div
      class="pt-6"
      *ngIf="isNavBarFixed && (isHandset$ | async) === false"
    ></div>
    <app-profile></app-profile>
    <app-statistics id="benefits"></app-statistics>
    <app-certifications-info id="projects"></app-certifications-info>
    <app-process id="process"></app-process>
    <app-faqs id="faqs"></app-faqs>

    <app-footer></app-footer>
    <button *ngIf="pageYoffset > 0" mat-raised-button (click)="scrollToTop()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
