<div class="container-custom pt-custom">
  <div class="text-container">
    <div class="row text-area">
      <span class="display-1"> get the most </span>
      <span class="display-1"> interactive and engaging </span>
      <span class="display-1"> ui/ux </span>
    </div>
  </div>

  <ng-template #myTemplate let-data="data">
    <h1>This is my Template</h1>
    <h4>{{ data.subheading }}</h4>
  </ng-template>

  <ng-template #researched let-data="data">
    <span>Researched Work</span>
    <img [src]="researchedUrl" />
  </ng-template>

  <ng-template #designtools let-data="data">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let image of designImages">
        <img [src]="image" />
      </div>
    </div>
  </ng-template>

  <ng-template #certifications let-data="data">
    <div class="row">
      <span>Certifications</span>
    </div>
    <div class="row">
      <img [src]="udemyUrl" />
    </div>
    <div class="row">
      <span>Master Digital Product</span>
      <span>Design: UX Research & UI Design</span>
    </div>
    <mat-divider class="m-2"></mat-divider>
    <div class="row">
      <span>User Experience Design</span>
      <span>Essentials - Adobe XD UI/UX Design</span>
    </div>
    <mat-divider class="m-2"></mat-divider>
    <div class="row">
      <img [src]="courseraUrl" />
    </div>
    <div class="row">
      <span> UX Design - RoadMap </span>
      <span>Sponsored By Google</span>
    </div>
  </ng-template>

  <ng-template #responsive let-data="data">
    <span>Responsive Design</span>
    <img [src]="responsiveUrl" />
  </ng-template>

  <app-template-card [model]="myModel"></app-template-card>
  <app-template-card [model]="researchedModel"></app-template-card>
  <app-template-card [model]="designtoolsModel"></app-template-card>
  <app-template-card [model]="certificationsModel"></app-template-card>
  <app-template-card [model]="responsiveModel"></app-template-card>
</div>
