<div class="container-custom pt-custom">
  <div class="text-container">
    <div class="row text-area">
      <span class="display-1"> get the most </span>
      <span class="display-1"> interactive and engaging </span>
      <span class="display-1"> ui/ux </span>
    </div>
  </div>

  <ng-template #researched>
    <img id="research" [src]="researchedUrl" />
    <span class="top-middle">Researched Work</span>
  </ng-template>

  <ng-template #designtools>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let image of designImages">
        <img [src]="image" />
      </div>
    </div>
    <span>Modern Designing Tools</span>
  </ng-template>

  <ng-template #certifications>
    <div class="row">
      <span>Certifications</span>
    </div>

    <div class="row">
      <img id="udemy" [src]="udemyUrl" />
    </div>

    <div class="row">
      <span>Master Digital Product</span>
      <span>Design: UX Research & UI Design</span>
    </div>

    <mat-divider class="m-2"></mat-divider>

    <div class="row">
      <span>User Experience Design</span>
      <span>Essentials - Adobe XD UI/UX Design</span>
    </div>

    <mat-divider class="m-2"></mat-divider>

    <div class="row">
      <img id="coursera" [src]="courseraUrl" />
    </div>

    <div class="row">
      <span> UX Design - RoadMap </span>
      <span>Sponsored By Google</span>
    </div>
  </ng-template>

  <ng-template #responsive>
    <span>Responsive Design</span>
    <img id="responsive" [src]="responsiveUrl" />
  </ng-template>

  <div class="row">
    <div class="col-lg-6">
      <app-template-card [model]="researchedModel"></app-template-card>
    </div>
    <div class="col-lg-6">
      <app-template-card [model]="designtoolsModel"></app-template-card>
    </div>
  </div>

  <div class="row pb-custom pt-3">
    <div class="col-lg-4">
      <app-template-card [model]="certificationsModel"></app-template-card>
    </div>
    <div class="col-lg-7">
      <app-template-card [model]="responsiveModel"></app-template-card>
    </div>
  </div>
</div>
