@import "../../variables.scss";

.container-custom {
  background: $whiteColor;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  .grid-item {
    padding: 1rem 1.5rem 1rem 1.5rem;
    img {
      width: 5rem;
    }
    text-align: center;
  }
}

#research {
  position: absolute;
  left: 0px;
  top: 0px;
  width: -webkit-fill-available;
  opacity: 60%;
}

.top-middle {
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  top: 8%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.researched {
}
.design-tools {
  text-align: center;
  span {
    padding-top: 1rem;
    font-size: x-large;
  }
}

.certifications {
  text-align: center;

  :first-child span {
    padding-top: 2rem;
    font-size: x-large;
  }
  span {
    line-height: 1.5rem;
    font-size: large;
  }
  .image-block {
    display: block;
    img {
      width: 50%;
      padding: 1rem;
    }
  }
  #coursera {
    border-radius: 50%;
    width: 40%;
  }
  mat-divider {
    width: 70%;
    border-top-color: rgba(0, 0, 0, 0.4);
    border-top-width: 1px;
    margin-left: 15%;
  }
}

.responsive {
  text-align: center;
  span {
    padding-top: 2.5rem;
    font-size: x-large;
    color: rgb(224, 224, 224);
  }
  img {
    position: absolute;
    left: -20px;
    top: 8rem;
    width: 125%;
  }
}

span {
  display: block;
  letter-spacing: 3px;
}
