@import "../../variables.scss";

.container-custom {
  background: $grayColor;
  height: fit-content;

  .text-area {
    padding-left: 28%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .title {
    padding-left: 28%;
    font-size: xx-large;
  }
  .display-4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4.5rem !important;
    font-weight: 350;
    letter-spacing: 0.4rem;
    word-spacing: 0.7rem;
  }
}

.cards-container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;

  .grid-item {
    padding: 0.5rem;
    text-align: center;
  }
}

span {
  display: inline-block;
  text-transform: uppercase;
}

.team-container {
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 4rem;
  width: 90%;

  span {
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 0.5rem;
  }
  .heading {
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 4rem;
    padding-bottom: 2.5rem;
  }
}

.client-container,
.experience-container,
.dedication-container,
.projects-container {
  display: flex;
  flex-direction: column;

  padding-top: 4rem;

  .green-color {
    padding-right: 2rem;
  }
  .purple-color {
  }
  .pink-color {
  }
  .blue-color {
  }
  .color-word {
    font-size: 5.5rem;
    font-weight: normal;
    height: 2rem;
    padding-bottom: 4rem;
  }
  .small-word {
    position: absolute;
    top: 4rem;
    left: 10.5rem;
    font-size: 2.5rem;
  }
  .text {
    font-size: large;
    letter-spacing: 1px;
  }
}
