<div class="container-custom pt-custom">
  <div class="row">
    <span class="title">Benfits</span>
  </div>
  <div class="row">
    <div class="text-area display-4">
      <span>We Want You</span>
      <span>To Have A</span>
      <span>Great Website</span>
    </div>
  </div>

  <ng-template #teamTemplate>
    <div class="team-container">
      <span class="heading">Our Team</span>
      <span
        >I have a great team of people with me, Each an Expert in their domain.
        Our Vision and ideas complement each other; Leading to a great product
        for our clients.</span
      >
    </div>
  </ng-template>

  <ng-template #clientTemplate>
    <div class="client-container">
      <span class="color-word green-color">12</span
      ><span class="small-word">+</span>
      <span class="text">Satisfied Clients</span>
    </div>
  </ng-template>

  <ng-template #experienceTemplate>
    <div class="experience-container">
      <span class="color-word">3</span>
      <span>Years</span>
      <span class="text">Experience</span>
    </div>
  </ng-template>

  <ng-template #dedicationTemplate>
    <div class="dedication-container">
      <span class="color-word">100%</span>
      <span class="text">Dedication</span>
    </div>
  </ng-template>

  <ng-template #projectsTemplate>
    <div class="projects-container">
      <span class="color-word">21</span>
      <span class="text">Built Projects</span>
    </div>
  </ng-template>

  <ng-template #designsTemplate>
    <div class="designs-container">
      <div class="row">
        <div class="col-lg-6">
          <span>Stunning Designs</span>
          <span
            >We Build Beautifully Designed Web and Mobile Projects for you,
            Using Modern tools</span
          >
        </div>
        <div class="col-lg-6">
          <img [src]="appImageUrl" />
        </div>
      </div>
    </div>
  </ng-template>

  <div class="cards-container pb-custom">
    <div class="row">
      <div class="col-lg-6 mt-2">
        <app-template-card [model]="teamModel"></app-template-card>
      </div>
      <div class="col-lg-6">
        <div class="grid-container">
          <div class="grid-item">
            <app-template-card [model]="clientModel"></app-template-card>
          </div>
          <div class="grid-item">
            <app-template-card [model]="experienceModel"></app-template-card>
          </div>
          <div class="grid-item">
            <app-template-card [model]="dedicationModel"></app-template-card>
          </div>
          <div class="grid-item">
            <app-template-card [model]="projectsModel"></app-template-card>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <app-template-card [model]="designsModel"></app-template-card>
    </div>
  </div>
</div>
