@import "../../variables.scss";

.container-custom {
  background: $grayColor;
  height: fit-content;

  .text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  span {
    padding-left: 20vw;
    text-transform: uppercase;
    width: 70vw;
    display: inline-block;
    line-height: 5rem;
  }
  .title {
    padding-left: 21vw;
    font-size: xx-large;
  }
  .display-4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4.5rem !important;
    font-weight: 350;
    letter-spacing: 0.4rem;
    word-spacing: 0.7rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;

  .grid-item {
    text-align: center;
  }
}
