@import "../../variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 2rem;

  .grid-item {
    width: 36vw;
    text-align: center;
    padding: 1rem;
  }
}

.container-custom {
  background: $grayColor;
}
