<div class="container-footer">
  <div class="final">
    <div class="text-area display-4">
      <span> So </span>
      <span> Let Us Know </span>
      <span> When You Wanna Start! </span>
    </div>

    <div class="row">
      <a href="mailto:fahadisd944@gmail.com">Let us begin ></a>
    </div>

    <mat-divider></mat-divider>
    <div class="pt-2 opacity-down">
      <span class="float-left"
        >@{{ year }} {{ name }}, ALL RIGHTS RESERVED</span
      >
      <span class="float-right">POLICY</span>
      <span class="pr-2 float-right">IMPRINT</span>
    </div>
  </div>
</div>
