/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat;
}
.container {
  width: 100vw;
  height: 150vh;
}

.display-1 {
  font-family: Montserrat;
  font-weight: 550;
  background: -webkit-linear-gradient(
    0,
    rgb(253, 224, 6) 42%,
    rgb(33, 97, 194) 58%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 6px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: center;
  line-height: 6rem;
}

.display-2 {
  letter-spacing: 10px;
  word-spacing: 15px;
  font-size: 5.5rem;
  text-align: center;
  line-height: 6rem;
  text-transform: uppercase;
  font-weight: 1;
}
