/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat;
  text-transform: uppercase;
}
.container-custom {
  width: 100vw;
  height: 150vh;
}
.text-area {
  display: flex;
  flex-direction: column;
}

.display-1 {
  font-family: Montserrat;
  font-weight: 550;
  background: -webkit-linear-gradient(
    0,
    rgb(253, 224, 6) 42%,
    rgb(33, 97, 194) 58%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 6px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: center;
  line-height: 6rem;
}

.display-2 {
  letter-spacing: 8px;
  word-spacing: 14px;
  font-size: 4.5rem;
  text-align: center;
  line-height: 6rem;
  text-transform: uppercase;
  font-weight: 1;
}
.display-4 {
  font-family: Montserrat;

  background: -webkit-linear-gradient(0, #a311f7 43%, #11dcf7 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 6px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: center;
  line-height: 6rem;
}
.display-5 {
  font-family: Montserrat;
  font-weight: 500 !important;
  background: linear-gradient(#73573f, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 6px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-size: 5rem !important;
  text-align: center;
  line-height: 6rem;
}

.mt-2 {
  margin-top: 1.5rem !important;
}
.mb-2 {
  margin-bottom: 1.5rem !important;
}

.pt-2 {
  padding-top: 1.5rem !important;
}

.pb-3 {
  padding-bottom: 2.5rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.pr-3 {
  padding-right: 2.5rem !important;
}

.pl-1 {
  padding-left: 0.5rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.pl-3 {
  padding-left: 2.5rem !important;
}

.mat-card {
  border-radius: 2rem !important;
}

.pb-custom {
  padding-bottom: 15vh;
}
.pt-custom {
  padding-top: 15vh;
}
